.table-row-cell:selected {
    -fx-background-color: #eaf3fd;
}

.table-row-cell:selected .label {
    -fx-text-fill: #1f2937;
}

.table-row-cell:selected .text {
    -fx-fill: #1f2937;
}
.action-button {
    -fx-background-color: #e7edf3;
    -fx-background-radius: 20;
    -fx-font-size: 14;
    -fx-padding: 6 18;
    -fx-text-fill: #1f2937;
}

.action-button:hover {
    -fx-background-color: #eaf3fd;
    -fx-text-fill: #2B8cEE;
}
